<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supertridents.ncert.class10.quiz.game.solutionns">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizzApp">
        <activity android:name=".maths.MathsTimeModeActivity"></activity>
        <activity android:name=".maths.MathsHardActivity" />
        <activity android:name=".maths.MathsMediumActivity" />
        <activity android:name=".maths.MathsGameActivity" />
        <activity android:name=".maths.MathsPlayActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".TimeModeActivity" />
        <activity android:name=".HardActivity" />
        <activity android:name=".MediumActivity" />
        <activity android:name=".PlayActivity" />
        <activity android:name=".ShopActivity" />
        <activity android:name=".GameActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5324429581828078~8558583469" />
    </application>

</manifest>